:root{
  --secondary-rgb: 67, 97, 238;
  --primary-rgb: 53, 76, 181;
}
 $background: #f9f9f9;
 $on-background: #1b1b1b;

 $surface: #fcfcfc;
 $on-surface: #1b1b1b;

 $primary: #354cb5;
 $on-primary: #ffffff;

 $secondary: #4361ee;

 $on-secondary: #e8f1ff;

 $body1: 14px;
 $body2: 12px;
 $border-color: #cccccc;

 $sidebar_width: 280px;
